<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="jumbotron">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Sing Up Form</legend>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" name="name" placeholder="Full Name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Title</label>
                            <div class="col-lg-10">
                                <input type="text" name="title" placeholder="Title" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" name="email" placeholder="Email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" placeholder="Password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="inputPassword">Confirm Password</label>
                            <div class="col-lg-10">
                                <input type="password" placeholder="Repeat Password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-success" type="submit">Submit</button>
                                <button class="btn btn-info" type="reset">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
