<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="jumbotron">
            <form class="form-horizontal" method="post" action="/user/create" id="sign-up">
                <fieldset>
                    <legend>
                        <% if (session.User && session.User.isAdmin) { %>
                        User Creation Form
                        <% } else { %>
                        Sing Up Form
                        <% } %>
                    </legend>
                    <% if (flash && flash.err) { %>
                        <ul class="alert alert-success">
                        <% Object.keys(flash.err).forEach(function(error) { %>
                            <li><%= JSON.stringify(flash.err[error]) %></li>
                        <% }); %>
                        </ul>
                    <% } %>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" name="name" placeholder="Full Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-10">
                            <input type="text" name="title" placeholder="Title" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" name="email" placeholder="Email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" name="password" placeholder="Password" class="form-control" id="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputPassword">Confirm Password</label>
                        <div class="col-lg-10">
                            <input type="password" name="confirmation" placeholder="Repeat Password" class="form-control" />
                        </div>
                    </div>
                    <% if (session.User && session.User.isAdmin) { %>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="is_admin" value="0" />
                                    <input type="checkbox" name="is_admin" />
                                    Is Admin
                                </label>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-success" type="submit">Submit</button>
                            <a class="btn btn-info" href="/">Cancel</a>
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
